################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/2a8b7067-3396-4ea9-9d63-745ff515edc2.vsidx
/Backend/.vs/Backend/FileContentIndex
