body {
  margin: 0;
  background-color: #324b41;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.div{
  background-color: #324b41;
}
.right-section {
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px; 
}

.total-section {
  background-color: #324b41;
  border: #ff8b32;
  border-style: solid;
  border-radius: 1em;
  margin-bottom: 20px; 
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  padding: 1em;
  background-color: #324b41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-container {
  min-width: 190px;
  padding: 1em;
  background-color: #324b41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: 0;
  border: #ff8b32;
  border-style: solid;
  border-radius: 1em;
}

.grid-container {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  gap: 20px;
}

.price {
  color: #51b574;
}

header {
  text-align: center;
  padding: 1em;
}

.store-button {
  background-color: #3a584d;
  color: #ff5a0b;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.buy-button {
  background-color: #3c8355;
  color: #ff5a0b;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 1em;
  box-shadow: 0 0 10px rgb(3, 246, 60);
  transition: all 0.2s ease-in-out;
}
.buy-button:hover{
  background-color: #395041;
  color: #ff8b32;
}
.quantity-label{
  margin: 1em;
}

.quantity-button{
  background-color: #3a584d;
  color: #ff5a0b;
  padding: 0em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.quantity-button:hover {
  background-color: #395041;
  color: #ff8b32;
}
.store-button:hover {
  background-color: #395041;
  color: #ff8b32;
}

.background {
  background-image: url("../Materials/Background.jpg");
  background-size: cover;
}


@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  }
}
