
.app {
  background-color: #759580;
  background-image: url("./Materials/Background.jpg");
    background-size: cover;
  color: #ff5a0b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}
